//Mixins for responsive use
@mixin d($device) {
  @if $device == sm {
    @media (min-width: 576px) {
      @content;
    }
  }
  @if $device == md {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $device == lg {
    @media (min-width: 992px) {
      @content;
    }
  }
  @if $device == xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

//Mixin for mobile exlusive content
@mixin only-mobile {
  @media (max-width: 991px) {
    @content;
  }
}

//Mixin for titles
@mixin title($size) {
  font-family: $font-title;
  font-weight: 700;
  @if $size == m {
    font-size: em(26);
    @include d(md) {
      font-size: em(42);
    }
  }
  @if $size == g {
    font-size: em(32);
    @include d(md) {
      font-size: em(64);
    }
  }
}

//Mixin for animate link underline (my favorite)

@mixin anima-link($color) {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  &.active:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  @if $color == b {
    &:hover {
      color: #000;
    }
    &:before {
      background-color: #000;
    }
  }
  @if $color == w {
    &:hover {
      color: #fff;
    }
    &:before {
      background-color: #fff;
    }
  }
}