@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

//Fonts Variables
$font-title: 'Montserrat', sans-serif;
$font-defaut: 'Montserrat', sans-serif;
$font-btn: 'Montserrat', sans-serif;

// Colors Varibles
$pri-color1: #434343;
$pri-color2: #ECE9E6;

$sec-color1: #E5E5E5;
$sec-color2: #242424;

$shadow-color: #C5C5C5;