//Fonts Variables
$font-title: 'Quicksand', sans-serif;
$font-defaut: 'Nunito', sans-serif;
$font-btn: 'Roboto', sans-serif;

// Colors Varibles
$pri-color1: #000;
$pri-color2: #fff;

$sec-color1: #f9f9f9;
$sec-color2: #686868;

$shadow-color: #C5C5C5;