body {
  font-family: $font-defaut;
  color: $pri-color1;
  font-weight: 300;
  background-color: $pri-color2;
}

body.lock {
  overflow: hidden;
}

.img-fluid {
  max-width: 100%;
}

.no-margin {
  @extend %no-margin;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

h1, h2, h3 {
  font-family: $font-title;
  font-weight: 500;
}

h4, h5, h6 {
  font-family: $font-defaut;
  font-weight: 300;
}

.h-100 {
  height: 100%;
}

.menu-header {
  position: fixed;
  background: rgba(67,67,67,.8);
  width: 100%;
  height: em(60);
  top: 0;
  z-index: 10;
}

.header-bg {
  padding-top: em(60);
}

.menu-links {
  position: fixed;
  top: 3.75rem;
  right: em(-240);
  width: 100%;
  background: rgba(67, 67, 67, .8);
  padding: em(10);
  font-size: em(18);
  opacity: 0;
  visibility: hidden;
  transition: .5s linear;
  &.menu-links-active {
    visibility: visible;
    opacity: 1;
    right: 0;
  }
  li {
    margin-bottom: em(5);
  }
  @include d(lg) {
    position: relative;
    display: inline-flex;
    visibility: visible;
    opacity: 1;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: unset;
    font-size: em(16);
    background: transparent;
  }
  @include d(xl){
    font-size: em(20);;
  }
}

.menu-mobile {
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 300;
  outline: none;
  cursor: pointer;
  @include d(lg) {
    display: none;
  }
}

.menu-ico {
  display: inline-block;
  color: $pri-color2;
  width: 22px;
  height: 18px;
  border-top: 2px solid;
  margin-right: 5px;
  position: relative;
  -webkit-backface-visibility: hidden;
  transition: .1s;
}

.menu-ico::before, .menu-ico::after {
  content: '';
  display: block;
  height: 2px;
  margin-top: 6px;
  background: currentColor;
  position: relative;
  transition: transform .2s ease;
}

.menu-ico.active {
  border-top-color: transparent;
}
.menu-ico.active::after {
  margin-top: 0px;
  top: 2px;
  transform: rotate(45deg);
}
.menu-ico.active::before {
  margin-top: 0px;
  top: 4px;
  transform: rotate(135deg);
}

.menu-linkP {
  color: $pri-color2;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
  }
}

@mixin acceleration {
  -webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-perspective: 1000;
perspective: 1000;
}

.anima-underline {
  @include acceleration;
  text-decoration:none;
  color: $pri-color2;
  transition: color .4s cubic-bezier(.23,1,.32,1);
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    right: .0625rem;
    bottom: -.125rem;
    left: .0625rem;
    height: .1rem;
    background-color: $pri-color2;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform .4s cubic-bezier(.23,1,.32,1);
  }
  &:hover, &.active {
    color: $pri-color2;
    &::before {
      transform: scaleX(1);
      transform-origin: 0 50%;
    }
  }
}

.default-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: em(50);
  height: em(50);
  border-radius: 50%;
  position: relative;
  color: $pri-color1;
  background-color: $pri-color2;
  border: 2px solid $pri-color2;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;

  path {
    transition: .3s ease-out;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $pri-color1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover, &:focus {
    color: $pri-color2;

    path {
      fill: $pri-color2;
    }

    &::before {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
}

.default-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: em(30);
  padding-bottom: em(30);
  min-height: calc(100vh - 60px);
  &:nth-child(even) {
    background: $sec-color1;;
  }
}

.exp-content {
  margin-bottom: em(20);
}

.default-title {
  font-size: em(26);
  margin-bottom: 30px;
  @include d(sm) {
    font-size: em(32);
  }
}

.default-subtitle {
  color: $sec-color2;
  font-size: em(22);
}

.default-subtitle2 {
  color: $sec-color2;
  font-size: em(18);
}

.company-location {
  font-weight: 500;
}

.content-esp {
  margin-bottom: em(30);
}

.footer-links {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: em(10);
}

.fLink {
  display: inline-block;
  margin: 0 em(10);
  margin-top: em(10);
  text-transform: uppercase;
  text-decoration: underline;
  color: $sec-color2;

  &:hover {
    color: $pri-color1;
  }
}

/* Back To Top */
#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  cursor: pointer;
  text-decoration: none;
  opacity: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: em(50);
  height: em(50);
  border-radius: 50%;
  color: $pri-color1;
  background-color: $pri-color1;
  border: 2px solid $pri-color1;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;

  path {
    transition: .3s ease-out;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $pri-color2;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover {
    color: $pri-color1;

    path {
      fill: $pri-color1;
    }

    &::before {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
}

#back-to-top.show {
  opacity: 1;
}

/* Estilizando o tooltip */
[data-theme="light"] {
  background-color: $pri-color2;
  color: $pri-color1;
  font-weight: 500;
  .tippy-arrow {
    color: $pri-color2;
  }
}
